// container
.container{
    // Center container
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    // set up flex direction / will make sticky footer
    display: flex;
    flex-direction: column;
    // screen height
    min-height: 100vh;
}

// content
.content{
    flex-grow: 1;
}