* {
  margin: 0;
  padding: 0;
}
.header_container {
  text-align: center;
  background: url("../img/header_bg.jpg") no-repeat center center/cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_title {
  color: #ffff;
  font-weight: 200;
  text-align: center !important;
  align-items: center !important;
}
.logo {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 170px;
  height: 65px;
  background: url("../img/header_logo_white.png") no-repeat;
}
.navbar {
  background-color: black;
}
.nav-link {
  color: white;
  transition: 0.3s ease;
  background: black;
  color: #ffffff;
}
.nav-link a:hover {
  text-decoration: underline;
}
.nav-link a:active {
  color: #aa0e36;
}
.sticky-top {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-bottom: solid 3px white;
}
.nav a:hover {
  color: #aa0e36;
}
.cta_btn {
  margin: 5px;
}
.footer_container {
  background-color: black;
  border-top: 3px solid white;
}
.small_font {
  font-size: 10px;
  color: white;
}
.headings {
  margin-top: 7vh;
  margin-bottom: 7vh;
  color: white;
}
.content {
  margin: auto;
  padding: auto;
  text-align: center;
  line-height: 7vh;
  margin-bottom: 5vh;
}
.card {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card_style {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card_style:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.team-module--team--2CAfx {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.bg {
  background-color: #343a40;
}
.seeMore {
  margin-bottom: 10vh;
  margin-top: -15vh;
}
#anchor_events {
  background-color: #292f33;
}
