.myButton {
  font-size: 30px !important;
  background: red;
}

h1 {
  color: black;
}

.header {
  text-align: center;
  position: relative;
  background: url("../img/header_bg.jpg") no-repeat center center/cover;
  height: 50vh;
  color: white;
  padding-top: 75px;
  border-top: 3px solid white;
  border-bottom: 5px solid white;
  margin: 0;
}

.logo {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 170px;
  height: 65px;
  background: url("../img/header_logo_white.png") no-repeat;
}

.nav {
  background-color: black;
}

.links {
  background-color: white;
}
.content {
  color: white;
  margin-top: 5vh;
  text-align: left;
}
.index {
  margin: 0;
  padding: 0;
}
.events {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-top: -15px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 7vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 7vh;
}

.twitter-timeline {
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  .container {
    display: block;
  }
  .twitter-timeline {
    margin-left: 48px;
  }
}
.btn {
  margin-right: 5vh;
  margin-top: 5vh;
}
