.events {
  list-style-type: none;
  height: 100%;

}
.event {
  max-width: 95vw;
  margin: 1rem 0.5rem;
  display: block;
  background-color: #292f33;
  border: solid 3px #292f33;


}
@media only screen and (max-width: 990px) {
  .event {
    width: auto;
  }
}
