.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}

.issue {
  width: 80%;
  background-color: #292f33;
  margin-bottom: 10vh;
  margin-left: 40px;
}

@media (max-width: 675px) {
  .container {
    display: block;
  }
  .issue {
    margin-top: 20px;
  }
}
