.team {
  display: -webkit-inline-box;
  margin: 0 auto;
}

.teamMember {
  width: 200px;
  height: 250px;
  margin: 1em;
  background-color: #292f33;
  margin-top: 2.5rem;
}

.teamMemberPic {
  height: 150px;
  border: 0;
  border: solid 2px #292f33;
}
