.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.teamMember {
  width: 200px;
  height: 250px;
  margin: 1rem;
  margin-top: 2.5rem;
}

.teamMemberPic {
  height: 150px;
  border: 0;
}
